body {
  font-family: 'Bebas Neue', cursive;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

header {
  background-color: #f5f5f5;
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  background-color: #f5f5f5;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none

}

.profile:hover {
  background-color: rgb(208, 208, 208);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none

}
.user-circle-icon {
  height: 30px;
  width: 30px;
  color: rgb(0, 0, 0);
}



nav {
  background: #fafafa;
  border-radius: 4px;
  padding: 8px 6px;
  position: absolute;
  top: 120px;
  right: 5px;
  box-shadow: 10px 10px 5px #0b0a0a;
  font-size: 2vw;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 4px 10px;
  border-radius: 3px;
}

li:hover {
  background-color: rgb(208, 208, 208);
  font-family: 'Teko', sans-serif;
}

li > a {
  text-decoration: none;
  color: #1b1b1b;
}

.nyc-container {
  background-image: url('Images/new-york.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75vw;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
 
}

.welly-container {
  background-image: url('Images/welly.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75vw;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
}

.web-dev{
  text-align: center;
  vertical-align: middle;
  font-size: 7vw;
  padding-top: 8vw;
  margin-bottom: 4vw;
}

.page-holder {
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 70vw;
}

.page-holder h3{
  text-align: center;
  vertical-align: middle;
  font-size: 4vw;
  padding-top: 10vw;
}


.home-container{
  display: flex;
  flex-direction: column;}

.work-container{
  background-color: rgb(208, 208, 208);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.work-container h3{
  text-align: center;
  vertical-align: middle;
  font-size: 4vw;
  padding-top: 10vw;
}

.contact-container{
  background-color: rgb(208, 208, 208);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contact{
  text-align: center;
  vertical-align: middle;
  font-size: 4vw;
  padding-top: 6vw;
}

.email {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px;
}
.email i{
  text-align: center;
  vertical-align: middle;
  color: #000000;
  font-size: 2vw;
}

.phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.phone i{
  text-align: center;
  vertical-align: middle;
  color: #000000;
  font-size: 2vw;
}

.instagram{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.instagram i{
  text-align: center;
  vertical-align: middle;
  color: #000000;
  font-size: 2vw;
}


.seb-ninness a {
  font-size: 4vw;
  text-decoration: none;
  color: #000000;

}

.seb-ninness a::after{
  font-size: 4vw;
  text-decoration: none;
  color: #000000;
}


a {
  font-family: 'Bebas Neue', cursive;
}

.city-button {
  font-family: 'Bebas Neue', cursive;
  font-size: 3vw;
  display: flex;
  align-self: center;
  justify-self: center;
  text-align: center;
  border: 0;
  border-radius: 0.5rem;
  background: #000000;
  color: white;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
  
}

.city-button:hover {
  font-family: 'Bebas Neue', cursive;
  font-size: 3vw;
  display: flex;
  align-self: center;
  justify-self: center;
  text-align: center;
  border: 0;
  border-radius: 0.6rem;
  background: #ffffff;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
  
}

footer {
  height: 16vh;
  display: flex;
  align-items: center;
  background-color: rgb(208, 208, 208);
  justify-content: end;
  font-size:6vw;
}

footer i {
  color: #000000;
  padding-right: 8vw;
}

@media (max-width: 320px) {
  header {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1200px)  {
  nav {
    background: white;
    border-radius: 4px;
    padding: 8px 10px;
    position: absolute;
    top: 160px;
    right: 10px;
    box-shadow: 10px 10px 5px #0b0a0a;
    font-size: 3vw;
    
  }
}

