body {
  font-family: 'Bebas Neue', cursive;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
header {
  background-color: #e9e9e9;
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  background-color: #d7ebd7;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none

}
.user-circle-icon {
  height: 30px;
  width: 30px;
  color: rgb(12, 12, 12);
}
nav {
  background: white;
  border-radius: 4px;
  padding: 8px 10px;
  position: absolute;
  top: 120px;
  right: 5px;
  box-shadow: 10px 10px 5px #0b0a0a;
  
}
ul {
  padding: 0;
}
li {
  list-style: none;
  padding: 4px 10px;
  border-radius: 3px;
}
li:hover {
  background-color: #d7ebd7;
  font-family: 'Teko', sans-serif;
}
li > a {
  text-decoration: none;
  color: #1b1b1b;
 
}

.nyc-container {
  background-image: url('Images/new-york.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75vh;
  padding-bottom: 0px;
 
}

.welly-container {
  background-image: url('Images/welly.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75vh;
  padding-bottom: 0px;
}

.web-dev{
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 14vw;
  font-size: 5vw;
  
}

.page-holder {
  background-color: #e9e9e9;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100vh;
}

.page-holder h3{
  text-align: center;
  vertical-align: middle;
  font-size: 4vw;
  padding-top: 10vw;
}


.home-container{
  display: flex;
  flex-direction: column;}

h3 {
  font-size: 4vw;
}


a {
  font-family: 'Bebas Neue', cursive;
}

button {
  font-family: 'Bebas Neue', cursive;
  display: flex;
  align-self: center;
  justify-self: center;
  text-align: center;
  
}

@media (max-width: 320px) {
  header {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1200px)  {
  nav {
    background: white;
    border-radius: 4px;
    padding: 8px 10px;
    position: absolute;
    top: 160px;
    right: 10px;
    box-shadow: 10px 10px 5px #0b0a0a;
    font-size: 3vw;
    
  }
}

