body {
  font-family: 'Teko', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
header {
  background-color: #007cb5;
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.profile {
  background-color: #f3f2f2;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none

}
.user-circle-icon {
  height: 30px;
  width: 30px;
  color: rgb(12, 12, 12);
}
nav {
  background: #d9c1e9;
  border-radius: 3px;
  padding: 8px 10px;
  position: absolute;
  top: 53px;
}
ul {
  padding: 0;
}
li {
  list-style: none;
  padding: 4px 10px;
  border-radius: 3px;
}
li:hover {
  background-color: #c79ee2;
  font-family: 'Teko', sans-serif;
}
li > a {
  text-decoration: none;
  color: #1b1b1b;
 
}

a {
  font-family: 'Teko', sans-serif;
}